:root {
    --sb-width: 80px;
    --sb-width-expanded: 240px;
    --border--debug: 1px solid red;

    --primary-blue: #0052CC;
    --secondary-blue: #E8F0FE;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* border: var(--border--debug); */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: white;
}

img {
    display: block;
    /* max-width: 48px; */
    width: 48px;
    height: auto;
}

/* Wrapper */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 16px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.centered {
    display: block;
    align-content: center;
}

.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

/* Border utils */
.border-bottom {
    border-bottom: 1px solid black;
}

hr.new1 {
    border-top: 1px solid var(--primary-blue);
    width: 100%;
    margin: 8px 0px
}

margin-top-bottom-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Gap utils */
.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

/* Margin utils */
.m-0 {
    margin: 0;
}

.h-auto {
    height: auto;
}

.w-auto {
    width: auto;
}

/* Padding utils */

.p-0 {
    padding: 0;
}

.p-4 {
    padding: 4px;
}

.p-8 {
    padding: 8px;
}

.p-12 {
    padding: 12px;
}

.p-16 {
    padding: 16px;
}

/* Text utils*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-16-b {
    font-size: 16px;
    font-weight: bold;
}

.text-14-b {
    font-size: 14px;
    font-weight: bold;
}

.text-12-muted {
    font-size: 12px;
    color: #A0A0A0;
}

.text-nowrap {
    text-wrap: nowrap;
}

/* Button Utils*/
.btn {
    display: inline-block;
    padding: 8px;
    border: none;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn i {
    color: inherit;
}

.btn-primary {
    background-color: var(--primary-blue);
    color: white;
}

.btn-secondary {
    background-color: white;
    color: black;
    border-color: blue;
}

.btn-close {
    background-color: transparent;
    color: black;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: gray;
}

.btn-close:hover {
    color: white;
    background-color: red;
}

.btn-tooltip {
    position: relative;
}

.btn-tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    z-index: 24;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}



.btn-tooltip:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

/* Transition utils */
.transition-fade {
    transition: background-color 0.5s ease-in-out;
}

.transition-all {
    transition: all 0.5s ease-in-out;
}



/* Class Selectors */

/* Header -----------------------------------------------------------*/

.title-text {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
}

.subtitle-text {
    font-size: 14px;
    font-weight: regular;
    white-space: nowrap;
}

.search-bar {
    background-color: #F0F0F0;
    min-width: 240px;
    border-radius: 16px;
    padding-right: 0;
    height: 36px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

.search-bar .btn {
    border-radius: 50%;
    margin: 0 8px;
}

.user-image img {
    border-radius: 24px;
}

/* Side Bar -----------------------------------------------------------*/

.side-bar {
    /* display: none; */
    width: var(--sb-width-expanded);
    position: fixed;
    inset: 0 auto 0 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    z-index: 32;

}

.side-bar li:nth-last-child(2) {
    margin-top: auto;
}

.side-bar-item {
    background: transparent;
    text-decoration: none;
    color: white;
    padding: 8px;
    gap: 8px;
    border-radius: 16px;
    border: none;
    justify-content: center;
    text-align: center;
}

.side-bar-item i,
span {
    color: inherit;
}

.side-bar-item i {
    font-size: 24px;
    transition: all 0.3s ease-in-out;

}

.side-bar-item span {
    font-size: 14px;
    font-weight: bold;
}

.side-bar-item span:not(.counter-badge) {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transition:
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
}

.side-bar-item:hover,
.side-bar-item.active {
    background: var(--secondary-blue);
    color: var(--primary-blue);

}

.side-bar nav {
    height: 100%;

}

.side-bar ul {
    list-style: none;
    margin: 0;
    padding: 16px;
    min-height: 100%;

}

.cursor-pointer {
    cursor: pointer;
}

.side-bar:has(#menu-cb:checked) {
    width: 80px;
}

.side-bar:has(#menu-cb:checked) .side-bar-item .flex {
    /* justify-content: center; */
    width: 48px;
}

.side-bar:has(#menu-cb:checked) .side-bar-item i:not(.bxs-upvote) {
    margin-left: calc(41.6px / 2 - 12px);
    /* transform: translateX(calc(41.6px / 2 - 12px)); */
}

.side-bar:has(#menu-cb:checked) .side-bar-item span:not(.counter-badge),
.side-bar:has(#menu-cb:checked) .card button {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    max-width: 0;
    overflow: hidden;
}

.side-bar:has(#menu-cb:checked) .card {
    background-color: transparent;
    color: white;
}

.side-bar:has(#menu-cb:checked) .counter-badge {
    transform: translateX(calc(-194.4px + 57.6px)) scale(0.75);
}

.side-bar:has(#menu-cb:checked) .bx-chevrons-right {
    transform: rotate(0deg) translateX(0%);
}

.side-bar .bx-chevrons-right {
    transform: rotate(-180deg) translateX(0%);
}

.counter-badge {
    display: inline-block;
    color: var(--primary-blue);
    width: 24px;
    height: 24px;
    background: #FFD700;
    border-radius: 50%;
    line-height: 24px;
    /* margin-left: auto; */
    position: fixed;
    /* left: calc(((240px - 194.4px) / 2) + 8px); */
    left: calc(240px - (240px - 194.4px) - 12px);
    transition: transform 0.3s ease-in-out;
}

.side-bar-item .flex {
    color: inherit;
    width: calc(4px * 50);
    justify-content: left;
    transition: all 0.3s ease-in-out;

}

.side-bar-item.card {
    color: var(--primary-blue);
    background-color: white;
    padding: 24px;
    cursor: default;
    width: calc(4px * 50);
}

.side-bar {
    background-color: var(--primary-blue);

}

/* Main -----------------------------------------------------------*/
.main-con {
    /* position: relative; */
    padding: 0 16px;
}

/*Table -----------------------------------------------------------*/

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
}

.table th,
.table td {
    padding: 8px;
    vertical-align: middle;
    text-align: center;
}

.table thead th {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #E5E5E5;
    font-weight: 500;
    background-color: var(--secondary-blue);
}

.table tbody td {
    font-weight: 400;
}

.table-alt-row tbody tr:nth-child(even) {
    background-color: #F8F9FA;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #E5E5E5;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-hover tbody tr:hover {
    background-color: var(--secondary-blue);
}

.table tbody tr {
    text-wrap: nowrap;
}


/* Patient Name */

.table .patient-name img {
    height: 48px;
    border-radius: 15%;
}


.vip-badge {
    max-width: 24px;
    background-color: #FFD700;
    font-size: 8px;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 25%;
}

.table .flag {
    width: 32px;
    height: auto;
}

/* Pagination -----------------------------------------------------------*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.pagination .btn-secondary {
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.pagination .btn-secondary.active {
    color: white;
    font-weight: bold;
    background-color: var(--primary-blue);
}

/* Patient Detail Panel -----------------------------------------------------------*/

.patient-detail-panel {
    position: fixed;
    inset: 128px 0 0 auto;
    width: 360px;
    height: calc(100vh - (16px * 2) - 128px);
    background-color: white;
    /* border: 4px solid var(--secondary-blue); */
    outline: 4px solid var(--secondary-blue);
    border-radius: 16px 0 0 16px;
    overflow: auto;
    z-index: 32;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.patient-detail-panel:target {
    box-shadow: -4px 4px 8px gray;
    transform: translateX(0%);
}

/* body:has(.patient-detail-panel:target) main .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    transition: background 0.3s ease-in-out;
    cursor: default;
    pointer-events: none;
    z-index: 16;
} */

.close-panel {
    position: sticky;
    inset: 0 auto auto 0;
    font-size: 24px;
    border-radius: 16px 0 16px 0;
}

.data-row {
    position: relative;
}

.click-overlay {
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.patient-detail-panel .patient-name img {
    max-width: none;
    height: 96px;
    width: 96px;
    border-radius: 7.5%;
}

.patient-detail-panel .patient-name .flag {
    width: 32px;
    height: auto;
}

.panel-items .bx {
    font-size: 24px;
    color: var(--primary-blue);
}

.patient-detail-panel .panel-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.patient-detail-panel .panel-items .container {
    /* margin: 0 0 0 16px; */
    margin: 0;
}

.flex-start {
    align-items: flex-start;
}

.appointment-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: var(--secondary-blue);
    width: 30%;
    min-width: 240px
}

.detail-app {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image-app img {
    width: 72px;
    aspect-ratio: 1;
    border-radius: 5px;
}

.flex-end {
    align-items: flex-end;
}

.top-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 8px;
    /* width: 50%; */
}

.title-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
    aspect-ratio: 1;
}

.title-app .name-app {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-blue);
}

.title-app .id-app {
    font-size: 12px;
    font-weight: regular;
    color: var(--primary-blue);
}

.title-app .vip-badge {
    max-width: 24px;
}

.title-app img.vip-badge {
    background-color: transparent;
}

.line-app {
    display: flex;
    width: 100%;
    border-radius: 4px;
    background-color: var(--primary-blue);
    overflow: hidden;
    font-size: 10px;
    /* line-height: 1.5; */

}

.line-app .key-app {
    text-align: center;
    width: 30%;
    padding: 8px 8px;
    background-color: hsl(220, 100%, 60%);
    color: white;
    border-radius: 4px;

}

/* .detail-app .line-app:last-child {
    height: calc(3lh + 8px);
} */

.line-app .value-app {
    width: 70%;
    padding: 8px 8px;
    background-color: var(--primary-blue);
    color: white;
}


.time-app time {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-blue);
}

.appointment-card-con {
    width: 100%;
    overflow: auto;
    height: 40vh;
    gap: 32px;
    padding: 16px 16px;
    border: #0052CC 1px solid;
    border-radius: 16px;

}

/* Media Queries -----------------------------------------------------------*/

/*
    Desktop (1200px+)
    Full layout

    Tablet (768–1199px)
    Sidebar collapsible, horizontal scroll

    Mobile (<768px)
    Icons-only sidebar, responsive table
*/